.game-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chess-board-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.chess-board {
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
}

.board-row {
  width:100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.board-square {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid black;
}
/**
 * for smart phones, set board-square size directly
 */

/*@media only screen and (max-width: 600px) {*/
  /*.board-square {*/
    /*width: 60px;*/
    /*height: 60px;*/
  /*}*/
/*}*/

.board-square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.board-square .piece {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(min(4vmin, 4vh));
}

.white-square {
  background-color: #f0d9b5;
}

.black-square {
  background-color: #b58863;
}

.highlight-move {
  background-color: yellow;
}

.highlight-attack {
  background-color: #9E9E9E;
}

.highlight-attack-super-effective {
  background-color: #4CAF50;
}

.highlight-attack-not-very-effective {
  background-color: #F44336;
}

.highlight-attack-no-effect {
  background-color: white;
}
