.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  height: 100vh;
  width: 100vw; /* full width of the viewport */
  background: #282c34; 
  flex-direction:column;
}

.scaling-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 90vw;
  background: white; /* Just a background, you can customize as you see fit */
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2); /* Optional: for a shadow effect */
  padding: 2vmin; /* Optional: for spacing between the elements */
  box-sizing: border-box; /* Including padding in height calculation */
  max-aspect-ratio: 1/1;
}
/* Small screens */
@media (max-width: 480px) {
  .scaling-container {
    width: 100%;
  }
}


/* Other styles remain unchanged */

.chess-title {
  /* Maximum width of the image is 100% of the container width */
  max-width: 100%;
  /* Automatic height to maintain the aspect ratio of the image */
  height: auto;
  /* A margin for spacing between the title image and the chessboard */
  margin-bottom: 2vmin;
  /* You might want to add a maximum height as well, depending on your design */
  max-height: 10vmin;
  /* Center the image if it doesn't fill the whole width */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Undo and redo buttons */
.state-btn {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: math;
  font-weight: bold;
}

.undo-btn::after {
  content: "<";
}
.redo-btn::after {
  content: ">";
}


/* Gameboy-style CSS */
:root {
    --gb-darkest-green: #0f380f;
    --gb-dark-green: #306230;
    --gb-light-green: #8bac0f;
    --gb-lightest-green: #9bbc0f;
    --info-bg-color: #e5e7eb;
}

.info-container {
    background-color: var(--info-bg-color);
    border-radius: 4px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;

}
.info-container-hidden {
    visibility: hidden;
}

.info-message {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;

}
